:host {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 25px;
  flex-direction: column;

  .title {
    font-family: Caveat, sans-serif;
    font-size: 4.5em;
    font-weight: 700;
    margin: 30px 0;
  }

  .welcome {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: x-large;
  }
}
