.error-page {
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 30%;

  p {
    font-size: 18px;
    color: #333;
  }

  a {
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #0056b3;
    }
  }
}
