mat-grid-list {
  padding: 20px;
  height: 15vh;
  background: darkgray;
}

.footer-url {
  text-decoration: none;
  color: inherit;
}

.footer-url:hover {
  text-decoration: underline;
  color: #145493;
}

mat-grid-tile {
  text-align: center;
  vertical-align: middle;

}


h1 {
  margin: 0;
}

