<mat-grid-list cols="5" rowHeight="2:1" >
  <mat-grid-tile>
    <h1>Créateurs</h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <mat-list-item>
        <a class="footer-url" href="https://gitlab.com/Justin-De-Sio">Justin DE SIO</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a class="footer-url" href="https://gitlab.com/thomas.rbrt">Thomas ROBERT</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a class="footer-url" href="https://gitlab.com/elfekihsarra45">Sarra EL FEKIH</a>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="assets/logo.png" class="logo" alt="logo-JST" routerLink=""/>
  </mat-grid-tile>
  <mat-grid-tile>
    <p>Le projet est disponible sur GitLab:
      <a class="footer-url" href="https://gitlab.com/jstacademy/jst-apps">Repos</a>
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <h1>JST - Academy</h1>
  </mat-grid-tile>
</mat-grid-list>
