.formation-details {
  padding: 20px;
  max-width: 80rem;
}

.description-box {
  border: 2px solid #ccc;
  background: #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 1rem;
}

mat-form-field {
  min-width: 400px;
}

mat-step-header:hover {
  background-color: green;
}

.lesson {
  padding-left: 15px;
}

.lessonBlock {
  padding-left: 30px;

  p {
    white-space: pre;
  }
}

.navigationNextBack {
  margin-right: 4rem;
  position: absolute;
  right: 0;
}

#titleOverStep {
  top: 0;
  left: 0;
  background: red;
  min-width: 30px;
  min-height: 30px;
}
