<div *ngIf="(training$ | async) as training" class="formation-details">
  <div>
    <h1>{{ training.title }}</h1>
    <p class="description-box">{{ training.description }}</p>
  </div>
  <mat-horizontal-stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    @for (course of training.courses; let courseIndex = $index; track courseIndex) {
      <mat-step label="{{course.title}}">
        <h1>{{ courseIndex + 1 }}.{{ course.title }}</h1>
        <div class="lesson">
          @for (lesson of course.lessons; let lessonIndex = $index; track lessonIndex) {
            <h2>{{ courseIndex + 1 }}.{{ lessonIndex + 1 }}.{{ lesson.title }}</h2>
            <div class="lessonBlock">
              <p>{{lesson.content}}</p>
              <div>
                <button color="primary" mat-raised-button *ngIf="lesson.quiz"
                        routerLink="/quiz/{{lesson.quiz.quizId}}">{{ lesson.quiz.title }}
                </button>
              </div>
            </div>
          }
        </div>
        <div class="navigationNextBack">
          <button *ngIf="courseIndex > 0" mat-button matStepperPrevious>Back</button>
          <button *ngIf="courseIndex < (training.courses.length-1)" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
    }
    <div *ngFor="let course of training.courses">
      <h1>{{ course.title }}</h1>
    </div>
  </mat-horizontal-stepper>
</div>
