<div class="question">
  <h2>{{ position }}. {{ question.question }}</h2>
  <div>
    <mat-radio-group [name]="'answerGroup_' + question.questionId"
                     aria-label="Select an option">
      <mat-radio-button *ngFor="let answer of question.answers"
                        [value]="answer.answerId" (change)="onAnswerSelected(question, answer)">
        {{ answer.answer }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
