@import "theme";

.question{
    margin: 1rem 1rem 1.5rem 1rem;

}


mat-radio-group {
  display: flex;
  flex-direction: column;
}


.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-top: 10px;
}


