<div class="page-title">
  <h2>Liste des formations</h2>
</div>
<div class="training-list">
    @for (training of trainings$ | async; track training.trainingId) {
           <training [training]="training"></training>
    }
</div>

