<nav>
  <div>

    <img src="assets/logo.png" class="logo" alt="logo-JST" routerLink=""/>
    <mat-nav-list>
      @for (link of links; track link) {
      <a mat-list-item routerLink="{{ link.href }}" routerLinkActive="active">
        <span>{{ link.name }}</span>
      </a>
      }
    </mat-nav-list>
  </div>
</nav>
