@use "../../../theme";

nav {
  height: 80px;
  border-bottom: solid black 2px;
  div {
    height: 100%;
    display: flex;
    align-items: center;


  }
}

mat-nav-list {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  width: 500px;

  span,
  a {
    font-size: large;
    color: theme.$black;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
