mat-card{
  height: 100%;
  background-color: #f5f5f5;
}
mat-card-actions{
  margin-top: auto;
}
mat-card-header{
  background-color: rgba(238, 238, 238, 0.8);
}

mat-card-content{
  margin-top: 1rem;
}

mat-card-actions{
}

mat-card-actions button{
  margin: 0.5rem 0.5rem 0.5rem auto;
}


mat-card-title{
  font-size: 1.5rem;
  font-weight: bold;
}




