<mat-card>
  <mat-card-header>
    <mat-card-title>{{ training.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ training.description.length > 200 ? (training.description | slice:0:200) + '...' : training.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="/course/{{training!.trainingId}}" mat-flat-button color="primary">
      Étudier
    </button>
  </mat-card-actions>
</mat-card>

