@use "theme";
/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.logo {
  width: 150px;
  height: 150px;
}

a {
  color: theme.$black;
  text-decoration: none; /* no underline */
}

a:hover {
  text-decoration: none; /* underline */
}


.mat-mini-fab {
  color: theme.$black !important;
}

.mat-raised-button {
  color: theme.$black !important;
}

table {
  font-size: medium;

  tr {
    height: 57px;

    td {
      vertical-align: middle;
    }
  }

}
