@use "@angular/material" as mat;
@include mat.core();

// Palettes
$black-white-palette: (
  50: #f0f0f0,
  100: #e0e0e0,
  200: #c2c2c2,
  300: #a4a4a4,
  400: #868686,
  500: #686868,
  600: #505050,
  700: #383838,
  800: #202020,
  900: #080808,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

// Primary, Accent, Warn Palettes
$my-primary: mat.define-palette($black-white-palette, 100);
$my-accent: mat.define-palette($black-white-palette, 200);
$my-warn: mat.define-palette($black-white-palette, 700);
$rouge: #FF0000;
$bleu: #0000FF;
$jaune: #FFFF00;
$violet: #800080;
$orange: #FFA500;
$rose: #FF69B4;
$vert: #00FF00;
$cyan: #00FFFF;
$gris: #808080;
$brun: #A52A2A;
// Light Theme
$my-light-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
    delete : $rouge,
  ),
));



// Apply Theme to All Components
@include mat.all-component-colors($my-light-theme);


$white : #ffffff;
$white-gray: #f5f5f5;
$gray: rgba(238, 238, 238, 0.8);
$black : #000000;
