.training-table{
  margin: 1.5rem;
  max-width: 1500px;

}

table{
    background-color: #f5f5f5;
}

table th{
  background-color: rgba(238, 238, 238, 0.8);
}

.save-button {
  position: absolute;
  right: 4em;
  background-color: green;
  color: white;
}
