<div class="quiz">
  <div *ngIf="$quiz">
    <h1>{{ $quiz.title }}</h1>
    <p class="quiz-content">{{ $quiz.content }}</p>
    <div *ngFor="let question of $quiz.questions; let i = index ">
      <question [question]="question"
                [position]="i+1"
                (answerSelected)="onAnswerToQuestionSelected($event)">
      </question>
    </div>
    <br>
    <div class="submit">
      <span class="error-message" (error)="errorMessage">{{ errorMessage }}</span>
      <button class="submit-button" mat-raised-button color="primary" type="submit" (click)="validerQuiz()">
        Valider
      </button>
    </div>
  </div>
  <div *ngIf="!$quiz">
    <p>Quiz is loading... (please wait)</p>
  </div>
  <div *ngIf="scoreUser !== undefined">
    <span *ngIf="scoreUser/$quiz!.questions.length > 0.75">Bravo vous avez un score de </span>
    <span *ngIf="scoreUser/$quiz!.questions.length <= 0.75">Essayez une nouvelle fois </span>
    <span>{{ scoreUser }} / {{ $quiz!.questions.length }}</span>
  </div>
</div>
