@import "theme";

.quiz{
  max-width: 1500px;
  padding:  1.5rem;
}
.quiz-content{
  background-color: $gray;
  padding: 1.5rem;
  max-width: 1000px;
}

.submit{
  display: flex;
  justify-content: right;
  align-content: center;
  max-width: 1000px;
}
.submit button{
}
.error-message{
  font-size: x-large;
  font-weight: bold;
  color:crimson;
  margin: 1rem;
}
