.position-form {
  width: 1000px;
}
.training-title {
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

label {
  margin-right: 10px;
  margin-bottom: 50%;
}

.save-button {
  background-color: green;
  color: white;
  margin-right: 5px;
}

.delete-button {
  background-color: red;
  color: white;
  margin-left: 5px;
}

#description {
  min-height: 120px;
  min-width: 500px;
}
