@if (training$ | async; as training) {
  <section class="position-form">
    <h1 class="training-title">Edition du training</h1>
    <form (ngSubmit)="save(training)" #trainingForm="ngForm">
      <div>
        <mat-form-field hintLabel="Max 255 caractères" class="form-group">
          <mat-label for="title">Titre</mat-label>
          <input matInput
                 #input
                 type="text"
                 class="form-control"
                 maxlength="255"
                 id="title"
                 required
                 [(ngModel)]="training.title"
                 name="title"
                 #title="ngModel"
          />
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">Le titre est obligatoire</div>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field hintLabel="Max 1000 caractères" class="form-group">
          <mat-label for="description">Description</mat-label>
          <textarea
            type="text"
            class="form-control"
            id="description"
            maxlength="1000"
            required
            [(ngModel)]="training.description"
            name="description"
            #description="ngModel"
            matInput ></textarea>
          <div  [hidden]="description.valid || description.pristine" class="alert alert-danger">La description est obligatoire</div>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" mat-raised-button class="save-button" [disabled]="!trainingForm.form.valid">Enregistrer</button>
        <button [hidden]="isNew()" type="button" mat-raised-button class="delete-button" color="delete" (click)="deleteTraining(training)">Supprimer</button>
      </div>
    </form>
  </section>
}
